body {
  font-family: Verdana, Geneva, sans-serif;
  min-width: 300px;
}

.pie-chart {
  width: 100%;
  height: 700px;
  margin: 25px 0;
}

.chart-label,
.chart-label:hover,
.chart-label:active {
  display:block;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

.flot-overlay {
  cursor: pointer;
}

.footer {
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}
